<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>create</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="infoForm">
    <ion-item>
      <ion-input type="text" label="Nombre de la reseva" labelPlacement="floating" formControlName="info_title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" label="Descripción de la habitación" labelPlacement="floating" formControlName="info_description"></ion-input>
    </ion-item>
    <ion-button shape="round" color="primary" expand="block" [disabled]="!infoForm.valid"
      (click)="saveInfo()">Guardar</ion-button>
  </form>
</ion-content>
